<!DOCTYPE html>
<html>
  <head>
<!--   	<link href='https://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'> -->
<!--   	<body bgcolor="#FF6347"> -->
	</head>

  <body>
		<h1>DJ Edmonds Remix</h1>
    <img src="images/PeterGriffin.jpg" height="440" width="442">

		<form method="POST" action="/dexter">
    	<input type="text" name="sentence" size="50">
  		<input type="submit">
    </form>

	</body>
</html>