body{
	background-image: url(../images/backgrounds/school.png);
}

h1{
	font-family: 'Vollkorn', serif;
  font-weight: 700;
  margin-bottom: 0px;
}

h4{
  font-family: 'Pacifico', cursive;
  margin-top: 0px;
}

#textarea1{
  font-family: 'Indie Flower', cursive;
  font-size: 1.85em;
}

#speech-bubble{
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 10px;
  padding-bottom 60px;
  border-radius: 120px;
  margin-bottom: 15px;
}

/* body{
    width:100px;
    height:20px;
    background:red;
    animation:myfirst 10s;
  -moz-animation:myfirst 10s infinite;
-webkit-animation:myfirst 10s infinite;
}

@-moz-keyframes myfirst
{
0%   {background:red;}
50%  {background:blue;}
100%   {background:purple}
}

@-webkit-keyframes myfirst
{
0%   {background:red;}
50%  {background:blue;}
100%   {background:purple}
}

}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
   textarea {
  position: horizontal;
  left: 5px;
  top: 5px;
  right: 5px;
  bottom: 5px;
} */
